* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "light";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf");
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}

nav.navbar.lets {
  align-items: center;
  display: flex;
  box-shadow: -1px 1px 3px #00000024;
  justify-content: space-between;
}
img.logo-shaf {
  width: 5%;
}
.beell {
  display: flex;
  justify-content: center;
  align-items: center;
}


.sidebar li.nav-item {
  text-align: center;
}
.sidebar li.nav-item img {
  width: 60%;
}

.sidebar {
  display: block;
  margin-right: 0%;
  width: 5%;
  transition: 0.7s;
  background-image: url(../mida/backgroungsidbar.png);
  min-height: 100vh;
  padding: 2rem 0;
  position: fixed;
  right: 0;
  z-index: 999;
  box-shadow: 0px 1px 3px 0px #0000001f;
}
.sidebar.open,
.sidebar.opened {
  transition: 0.7s;
  width: 15%;
  margin-right: 0%;
  height: 100%;
  overflow-y: auto;
}
.sidebar.open::-webkit-scrollbar-track,
.sidebar.opened::-webkit-scrollbar-track {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open::-webkit-scrollbar,
.sidebar.opened::-webkit-scrollbar {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open::-webkit-scrollbar-thumb,
.sidebar.opened::-webkit-scrollbar-thumb {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open:hover,
.sidebar.opened:hover {
  transition: 0.7s ease-in-out;
}
.sidebar.open:hover::-webkit-scrollbar-track,
.sidebar.opened:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open:hover::-webkit-scrollbar,
.sidebar.opened:hover::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open:hover::-webkit-scrollbar-thumb,
.sidebar.opened:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open .image_logo .logo,
.sidebar.opened .image_logo .logo {
  width: 60%;
}
.sidebar.open .nav-pills .nav-link,
.sidebar.opened .nav-pills .nav-link {
  text-align: start;
}
.sidebar.open .nav-pills .nav-link svg.dot,
.sidebar.opened .nav-pills .nav-link svg.dot {
  color: #828c8d;
  font-size: 0.5rem;
  margin-inline-start: 1.5rem;
}
.sidebar.open .nav-pills .nav-link span,
.sidebar.opened .nav-pills .nav-link span {
  display: inline-block;
}
.sidebar.open .nav-pills .nav-link img,
.sidebar.opened .nav-pills .nav-link img {
  display: inline !important;
  margin: 0 !important;
}
.sidebar.open .nav-pills .accordion-button svg,
.sidebar.opened .nav-pills .accordion-button svg {
  display: block;
}
.sidebar .image_logo {
  width: 100%;
}
.sidebar .image_logo .logo {
  width: 100%;
  margin: 0 auto 1rem;
  display: block;
  padding: 0 1.5rem;
}
.sidebar .accordion-button {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .accordion-button::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  filter: brightness(0) invert(1);
}
.sidebar .nav-pills {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .nav-pills .accordion-button {
  display: block;
}
.sidebar .nav-pills .accordion-button.collapsed {
  background-color: transparent !important;
  box-shadow: none;
}
.sidebar .nav-pills .accordion-button.collapsed svg {
  transform: rotate(180deg);
}
.sidebar .nav-pills .accordion-button svg {
  float: right;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  color: #828c8d;
  transform: rotate(0deg);
  display: none;
}
.sidebar .nav-pills .accordion-button:focus {
  border-color: unset;
  box-shadow: none;
}
.sidebar .nav-pills .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  transition: 0.7s ease-in-out;
}
.sidebar .nav-pills .accordion-button:not(.collapsed)::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}
.sidebar .nav-pills .nav-item {
  width: 100%;
  margin: 0.3rem 0;
  list-style: none;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.sidebar .nav-pills .nav-item .nav-link {
  text-align: start;
  padding: 1rem 1.2rem;
  font-size: 0.85rem;
  background-color: transparent;
  margin-bottom: 0;
}
.sidebar .nav-pills .nav-item .nav-link span {
  color: #a5afad;
  margin: 0 5%;
  font-family: "regular";
  font-size: 0.8rem;
}
.sidebar .nav-pills .nav-item:hover {
  background-color: #06787e1e;
}

.sidebar .nav-pills .nav-item:hover span {
  color: #06787e;
}
.sidebar .nav-pills .nav-item .nav-link img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
}
.sidebar .nav-pills .nav-item .nav-link.active {
  border-inline-end: 0;
  background-color: rgba(255, 255, 255, 0.12);
  border-inline-end: 3px solid #fff;
  border-radius: 0;
}
.sidebar .nav-pills .nav-item .nav-link.active span {
  font-family: "semibold";
}
.sidebar.open ~ .index_cards,
.sidebar.opened ~ .index_cards {
  width: 85%;
  margin-inline-start: 15%;
  transition: 1s ease-in-out;
}
.sidebar ~ .index_cards {
  width: 95%;
  margin-inline-start: 5%;
  transition: 1s ease-in-out;
}
.headers {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "regular";
}
.fliter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-family: "regular";
}
.content {
  border: 1px solid rgba(0, 0, 0, 0.219);
  margin-top: 1rem;
  padding: 2rem;
  min-height: 100vh;
  border-radius: 10px;
}
table.table {
  border: 1px solid rgba(0, 0, 0, 0.219);
  margin-top: 2rem;
  text-align: center;
  font-family: "regular";
  min-width: 900px;
}
table.table thead {
  background-color: aliceblue;
}
.add-sub {
  margin-top: 2rem;
  font-family: "regular";
}
button.btn.btn-success.add {
  margin-top: 2rem;
  width: 100%;
  font-family: "regular";
}
td.right {
  color: green;
}
td.wroing {
  color: red;
}
.append_answer .remove.btn {
  background-color: #dc3545;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-inline-start: 1rem;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0);
  border-inline-start: 1px solid #cdcdcd;
}
.append_answer {
  margin-bottom: 1rem;
  position: relative;
  gap: 20px;
}
.append_answer .form-check-input {
    position: absolute;
    left: 25rem;
    margin-top: 0;
    background-color: rgba(6, 121, 126, 0.1);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
}
.form-check-input:checked[type=radio] {
    background-color: #06797e;
}
.all  input{
    margin-top: 10px;
}
.text-show {
    display: none;
  }
  .form-check {
    font-family: 'regular';
}
.menu {
  cursor: pointer;
}
.main-all {
  margin-top: 2rem;
  font-family: "regular";
}
.all-button {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.all-button button {
  margin-top: 0.5rem;
}
button.btn.SecondButton , button.btn.PrimaryButton.mio {
  background-color: #198754;;
  color: white;
  border: unset;
  transition: 0.7s;
}
button.btn.SecondButton:hover {
  background-color: white;
  border: 1px solid #198754;
  color: #198754;
}
button.btn.PrimaryButton.mio:hover {
  background-color: white;
  border: 1px solid #198754;
  color: #198754;
}
.modal-content {
  min-width: 934px;
}
.addB {
  margin-bottom: 0.5rem;
}
.sidebar svg {
  color: #198754;
  font-size: 1rem;
}
input.form-check-input.nsa {
  left: 5rem;
}
@media only screen and (max-width: 600px) {
 

  .sidebar .nav-pills .nav-item .nav-link {
    padding: 10px;
  }
  .sidebar .nav-pills {
    width: 60%;
    padding: 0.5rem 0.5rem;
    
  }
  .sidebar.open .nav-pills .nav-item {
    width: 20%;
  }
  .sidebar.open .nav-pills .nav-item .nav-link span {
    font-size: 0.5rem;
  }
  .sidebar.open, .sidebar.opened {
    width: 0;
}
.sidebar {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 9999;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.7);
  padding: 0;
  overflow-y: AUTO;
}
.sidebar .nav-pills {
  width: 51%;
  background-color:white;
  padding: 2rem 1rem;
  color: black;
  min-height: 100%;
}
.sidebar.open ~ .index_cards, .sidebar.opened ~ .index_cards {
  width: 100%;
  margin-inline-start: unset;
}
.append_answer .form-check-input {
  
  left: 14rem;

}
.menu {
  margin-right: 10px;
}
  
}